<html>
	<head>
		<title>{{ page.path }}</title>
	</head>
	<body>
		<code>
			{"mangas":[
			{% for manga in site.mangas %}
				{% if forloop.last %}
					{"uuid":"{{ manga.uuid }}","title": "{{ manga.title }}","title-original": "{{ manga.title-original }}","genres": {{ manga.genres | jsonify }},"story": "{{ manga.story }}","designs": "{{ manga.designs}}","editor": "{{ manga.editor }}","volumes": {{ manga.volumes | jsonify }},"variants": {{ manga.variants | jsonify}},"img-dir":"{{manga.img-dir}}","img-name":"{{manga.img-name}}"}
				{% else %}
					{"uuid":"{{ manga.uuid }}","title": "{{ manga.title }}","title-original": "{{ manga.title-original }}","genres": {{ manga.genres | jsonify }},"story": "{{ manga.story }}","designs": "{{ manga.designs}}","editor": "{{ manga.editor }}","volumes": {{ manga.volumes | jsonify }},"variants": {{ manga.variants | jsonify}},"img-dir":"{{manga.img-dir}}","img-name":"{{manga.img-name}}"},
				{% endif %}
			{% endfor %}
			]}
	</code>
	</body>
</html>
