<html>
	<head>
		<title>{{ page.path }}</title>
	</head>
	<body>
		<h1> {{page.title}} </h1>
		{% if page.story == page.designs %}
			<h2> {{page.story}}</h2>
		{% else %}
			<h2>{{page.story}} - {{page.designs}}</h2>
		{% endif %}
			<h3> {{page.editor}}</h3>
<hr>
{% for vol in page.volumes %}
	{% include_relative "img/mashle/mashle-{{ vol }}.jpg" %}
{% endfor%}

<hr>
{% for var in page.variants %}
	{% include_relative "img/mashle/mashle-{{ var}}-variant.jpg" %}
{% endfor%}

<hr>
{% for staff_member in site.mangas %}
  <h2>
    <a href="{{ staff_member.url }}">
      {{ staff_member.title }}
    </a>
  </h2>
{% endfor %}
	</body>
</html>
