<html>
	<head>
		<title>{{ page.path }}</title>
	</head>
	<body>
		<div>
		<pre><code class="language-json language-js json">
			{
				"title": "{{ page.title }}",
				"title-original": "{{ page.title-original }}",
				"genres": {{ page.genres | jsonify }},
				"story": "{{ page.story }}",
				"designs": "{{ page.designs}}",
				"editor": "{{ page.editor }}",
				"volumes": {{ page.volumes | jsonify }},
				"variants": {{ page.variants | jsonify}}
			}
		</code></pre></div>
		<div>
	<hr>
	{% for vol in page.volumes %}
		<img src="/mmdb/img/mashle/mashle-{{ vol }}.jpg"/>
	{% endfor%}

<hr>
	{% for var in page.variants %}
		<img src="/mmdb/img/mashle/mashle-{{ var }}-variant.jpg" />
	{% endfor%}
</div>
	</body>
</html>
